* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: "Titillium Web", sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
}
ul li {
    list-style-type: none;
}
h1 {
    font-size: 4.2rem;
}
:focus {
    outline: 0;
}
header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 89, 102, 0.8)), to(rgba(13, 87, 100, 0.9))), url(../img/hero-bg.jpg);
    /* background: -o-linear-gradient(rgba(15, 89, 102, 0.8), rgba(13, 87, 100, 0.9)), url(../img/hero-bg.jpg); */
    /* background: linear-gradient(rgba(15, 89, 102, 0.8), rgba(13, 87, 100, 0.9)), url(../img/hero-bg.jpg); */
    height: 85vh;
    color: #fff;
    position: relative;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}
.hero-text-box {
    width: 114rem;
}
.row:after,
.row:before {
    content: "";
    display: block;
}
.row:after {
    clear: both;
}
.row {
    zoom: 1;
}
.logo {
    margin-top: 3.2rem;
    float: left;
    height: 3.5rem;
    width: auto;
}
.row {
    max-width: 114rem;
    margin: 0 auto;
}
section {
    padding: 8rem 0;
}
h2 {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}
h2::after {
    content: "";
    display: block;
    height: 0.4rem;
    background: #79467e;
    width: 8.5rem;
    margin: auto;
    margin-top: 1rem;
}
h3 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
h4 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
}
.little-description {
    font-size: 1.8rem;
    width: 60%;
    margin-left: 20%;
    line-height: 2.5rem;
}
.box {
    padding: 1%;
}
.box p {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 1.5rem;
}
.myNav {
    float: right;
    margin-top: 4.2rem;
}
.header-text {
    position: absolute;
    top: 35%;
    left: 10%;
    right: 10%;
    text-align: center;
}
.myNav li {
    display: inline-block;
    margin-left: 2rem;
}
.myNav li:first-child {
    margin-left: 0;
}
.myNav li a:link,
.myNav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.myNav li:hover a:link,
.myNav li:hover a:visited {
    background: #0f928c;
}
.myNav li a {
    padding: 0.6rem 1.1rem 0.4rem 1.1rem;
}
.myNav li.active a {
    background: #a00847;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(56, 116, 125, 0.7);
    padding: 1rem 0;
    -webkit-box-shadow: 0 0 0.5rem #fff;
    box-shadow: 0 0 0.5rem #fff;
    z-index: 9999;
}
.sticky .logo {
    margin-top: 0.5rem;
}
.sticky .myNav {
    margin-top: 1rem;
}
.btn,
.btn-he:link,
.btn-he:visited {
    color: #f5eded;
    background: #f7e605fa;
    display: inline-block;
    padding: 1.5rem 5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-top: 3.5rem;
    color: #000;
    -webkit-box-shadow: 2px 2px 3px #0c4b1c;
    box-shadow: 2px 2px 3px #0c4b1c;
}
.mobile-menu span {
    color: #a025be;
    font-size: 4rem;
    float: right;
    margin-top: 2rem;
    display: none;
}
.overlay {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
}
.overlay a {
    text-decoration: none;
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: normal;
    color: #999;
    padding: 1rem 0;
    cursor: pointer;
}
#myNav .close {
    position: absolute;
    top: 2rem;
    right: 4.5rem;
    font-size: 5rem;
}
.mobile-menu .overlay .overlay-content a:hover {
    color: #000;
}
.sticky .mobile-menu span {
    margin-top: 0;
}
.section {
    clear: both;
    padding: 0;
    margin: 0;
}
.group:after,
.group:before {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child {
    margin-left: 0;
}
@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0;
    }
}
.span_4_of_4 {
    width: 100%;
}
.span_3_of_4 {
    width: 74.6%;
}
.span_2_of_4 {
    width: 49.2%;
}
.span_1_of_4 {
    width: 23.8%;
}
@media only screen and (max-width: 480px) {
    .span_4_of_4 {
        width: 100%;
    }
    .span_3_of_4 {
        width: 100%;
    }
    .span_2_of_4 {
        width: 100%;
    }
    .span_1_of_4 {
        width: 100%;
    }
}
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 49.2%;
}
@media only screen and (max-width: 480px) {
    .span_2_of_2 {
        width: 100%;
    }
    .span_1_of_2 {
        width: 100%;
    }
}
.span_3_of_3 {
    width: 100%;
}
.span_2_of_3 {
    width: 66.13%;
}
.span_1_of_3 {
    width: 32.26%;
}
@media only screen and (max-width: 480px) {
    .span_3_of_3 {
        width: 100%;
    }
    .span_2_of_3 {
        width: 100%;
    }
    .span_1_of_3 {
        width: 100%;
    }
}
.span_4_of_4 {
    width: 100%;
}
.span_3_of_4 {
    width: 74.6%;
}
.span_2_of_4 {
    width: 49.2%;
}
.span_1_of_4 {
    width: 23.8%;
}
@media only screen and (max-width: 480px) {
    .span_4_of_4 {
        width: 100%;
    }
    .span_3_of_4 {
        width: 100%;
    }
    .span_2_of_4 {
        width: 100%;
    }
    .span_1_of_4 {
        width: 100%;
    }
}
.services-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 58, 133, 0.9)), to(rgba(128, 55, 134, 0.9))), url(../img/services-bg.jpg);
    background: -o-linear-gradient(rgba(126, 58, 133, 0.9), rgba(128, 55, 134, 0.9)), url(../img/services-bg.jpg);
    background: linear-gradient(rgba(126, 58, 133, 0.9), rgba(128, 55, 134, 0.9)), url(../img/services-bg.jpg);
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.service-icon {
    height: 12rem;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
}
.services-section h2::after {
    background: #8a898f;
}
.team-section {
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(141, 167, 50, 0.9)), to(rgba(155, 134, 116, 0.9))), url(../img/team-bg.jpg);
    background: -o-linear-gradient(rgba(141, 167, 50, 0.9), rgba(155, 134, 116, 0.9)), url(../img/team-bg.jpg);
    background: linear-gradient(rgba(141, 167, 50, 0.9), rgba(155, 134, 116, 0.9)), url(../img/team-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.team-member {
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}
.team-section h2 {
    color: #333;
}
.team-section h3 {
    color: #523547;
}
.role {
    color: #370ab4ee;
    font-size: 1.3rem;
    text-transform: capitalize;
    display: inline-block;
    margin-top: 0.5rem;
}
.social-link {
    margin-top: 4.5rem;
}
.social-link ul li {
    display: inline-block;
    margin: 0.5rem;
}
.social-link ul li a {
    color: #fff;
}
.social-link ul li a:link i::before {
    background: #4d5b68;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    font-size: 2rem;
    padding: 0.8rem;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.social-link ul li a:hover i::before {
    background: #3377af;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 100%;
}
svg.radial-progress circle {
    fill: transparent;
    stroke: #fff;
    stroke-dashoffset: 219.91148575129;
    stroke-width: 10;
}
svg.radial-progress circle.incomplete {
    opacity: 0.25;
}
svg.radial-progress circle.complete {
    stroke-dasharray: 219.91148575129;
}
svg.radial-progress text {
    fill: #fff;
    text-anchor: middle;
}
.skill-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(221, 218, 218, 0.9)), to(rgba(218, 214, 214, 0.9))), url(../img/skill-bg.jpg);
    background: -o-linear-gradient(rgba(221, 218, 218, 0.9), rgba(218, 214, 214, 0.9)), url(../img/skill-bg.jpg);
    background: linear-gradient(rgba(221, 218, 218, 0.9), rgba(218, 214, 214, 0.9)), url(../img/skill-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.skill-section h2 {
    color: #3c4761;
}
.skill-section h3 {
    color: #3c4761;
}
.skill-section p {
    color: #3c4761;
}
.skill-section h2::after {
    background: #777b88;
}
.skill-section .box {
    margin-top: 4.5rem;
}
svg.radial-progress circle {
    stroke-width: 5;
}
svg.radial-progress text {
    fill: #3c4761;
    font-size: 1.5rem;
}
svg.web-design circle {
    stroke: #30bae7;
}
svg.html-css circle {
    stroke: #09612d;
}
svg.graphic-design circle {
    stroke: #810471;
}
svg.ui circle {
    stroke: #1e03b3;
}





.portfolio-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 224, 163, 0.9)), to(#3884db)), url(../img/portfolio-bg.jpg);
    /* background: -o-linear-gradient(rgba(255, 224, 163, 0.9), #ffe0a3), url(../img/portfolio-bg.jpg);
    background: linear-gradient(rgba(255, 224, 163, 0.9), #ffe0a3), url(../img/portfolio-bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}
.portfolio-section p {
    color: #404b62;
}
.portfolio-section h2 {
    color: #404b62;
}
.portfolio-section h2::after {
    background: #e5c37f;
}
.portfolio-filter {
    margin: 4.5rem;
}
.portfolio-filter button {
    background: #488ae0;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 0.5rem;
    text-transform: uppercase;
    color: #404b62;
    margin: 0 0.5rem;
}
.portfolio-filter button:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0 0.2rem 0.5rem rgba(64, 75, 98, 0.966);
    box-shadow: inset 0 0.2rem 0.5rem rgba(64, 75, 98, 0.966);
}
.portfolio-image {
    width: 100%;
    height: auto;
}
.portfolio-section .col:nth-child(3) {
    margin-left: 0;
}
.btn-load-more {
    background: #0b9099;
    border-color: #072736;
}
.portfolio-section .mixitup-control-active {
    background: #fff;
}



.testimonial {
    background: -webkit-gradient(linear, left top, left bottom, from(#43a8c2), to(rgba(100, 182, 207, 0.7))), url(../img/testimonial-bg.jpg);
    background: -o-linear-gradient(#43a8c2, rgba(100, 182, 207, 0.7)), url(../img/testimonial-bg.jpg);
    background: linear-gradient(#43a8c2, rgba(100, 182, 207, 0.7)), url(../img/testimonial-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.testimonial h2::after {
    background: #fff;
}
.little-description {
    text-align: center;
    color: #fff;
}
.testimonial .col:nth-child(3) {
    margin-left: 0;
}
.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2) {
    margin-top: 4rem;
}
.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4) {
    margin-top: 8rem;
}
.client-photo {
    width: 10rem;
    float: left;
}
.client-photo img {
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.client-review {
    width: 40rem;
    float: left;
}
.client-review p {
    font-size: 1.7rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2rem;
}
.contact-section {
    background: -webkit-gradient(linear, left top, left bottom, from(#0e35a1), to(rgba(51, 68, 117, 0.733))), url(../img/contact-bg.jpg);
    background: -o-linear-gradient(#0e35a1, rgba(51, 68, 117, 0.733)), url(../img/contact-bg.jpg);
    background: linear-gradient(#0e35a1, rgba(51, 68, 117, 0.733)), url(../img/contact-bg.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
}
.contact-section h2::after {
    background: #b9b7c7;
}
.contact-section form {
    margin-top: 5rem;
    width: 66%;
    margin-left: 17%;
}
.contact-section input[type="email"],
.contact-section input[type="text"],
.contact-section textarea {
    background: #273a71;
    border: 1px solid #273a71;
    padding: 1.2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    width: 100%;
    margin: 0.5rem 0;
    color: #fff;
}
.contact-section form ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}
.contact-section form ::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.contact-section form :-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}
.contact-section form ::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}
.contact-section form ::placeholder {
    color: #fff;
    opacity: 1;
}
.btn-submit {
    border: 0;
    border-bottom: 0.3rem solid #299ec5;
    background: #30bae7;
    color: #fff;
}
.btn-submit:hover {
    cursor: pointer;
}
.btn-submit {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.footer-section {
    background: #133863;
    border-top: 1px solid #6568a0;
    text-align: center;
    padding: 3rem 0;
}
.footer-section li {
    display: inline-block;
    margin: 0 2rem;
}
.footer-section li a {
    color: #f8f4f4;
    text-decoration: none;
    text-transform: capitalize;
}
.footer-section li a:hover {
    color: #abec12;
}
.c {
    color: #f5f0f0;
    font-size: 2rem;
}
.c p {
    margin-bottom: 1.5rem;
}
